{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'items/css/bootstrap.css' %}"/>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn</title>
    <link rel="stylesheet" href="{% static 'items/css/bootstrap.min.css' %}">
    <style>
        body {
            background-image: url("{% static 'authentication/images/signup.jpeg' %}");
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    
    <div class="container mt-5" style="width: 30%;">
        <h3 class="text-center">SignIn</h3>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" required>
            </div>
        
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required>
            </div>

            <button type="submit" class="btn btn-primary mt-4">Sign In</button>
        </form>
        
        <a href="/changepassword/" class="btn btn-secondary mt-3">Change Password</a>
    </div>
</body>
</html>
